@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
	font-family: Pretendard;
}

@layer utilities {
	.text-3xl.font-bold {
		line-height: 46px;
	}

	.text-xs.font-semibold {
		line-height: 20px;
	}
}
